
#button{
    width: 150px;
    height:150px;
    border-radius: 50%;
    /* font: bolder; */
}

.container{
    margin-top: 200px;
 display: flex;
 justify-content: center;
 align-items: center;
 flex-direction: column;

}
.name{
    margin-bottom: 60px;
    font-family: 'Cookie', cursive;
    font-size: 50px;
    font-weight: bolder;
    text-align: center;
}